.header {
      padding: 60px;
      text-align: center;
      background: #1abc9c;
      color: white;
      font-size: 30px;
      background-image: url(1.jpeg), url(latian_bisdig);
      background-size: 1800px 1200px;
      background-repeat: no-repeat;
    }

    ul {
      list-style-type: none;
      margin: 0; 
      padding: 0;
      overflow: hidden;
      background-color: #333333;
    }

    ul li {
      float: left;
    }

    ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    a:hover {
        background-color: 3333;
        font-size: 18px;

    }

    footer {
      text-align: center;
      padding: 3px;
      background-color: DarkSalmon;
      color: white;
    }